# Other repositories

targets/clib/clib
tools/grammarinator
tools/mozilla_avalanche
tools/agentlib
src/spearfuzz/volumes/
bin/
.antlr
work/outputs/coverage/
# Keep these files
!.gitkeep
__pycache__
new_grammar.g4
prev_grammar.g4
targets/targets-semis-clib/
targets/targets-semis-cjson/
targets/targets-semis-jq/
openai.key
work/inputs/
work/outputgit
.vscode/
volumes/
test.ipynb
/deprecated/targets/targets-semis-templates/
/backup/
aixcc_crs/
index/
deprecated/targets/targets-semis-cjson
deprecated/targets/targets-semis-clib
deprecated/targets/targets-semis-jq
Dockerfile-backup
gg-mount/
aixcc_targets/
local_test/
pipeline.lock
src/work_local/
selinux
targets-semis-selinux*