# Current Task
Right now we are working on the following specific task:
Think step by step and you must do a good job other wise my career is in danger
{{ current_step.description }}
{% if current_step.name=="previous_script" %}

    Here is the harness code:
    {{ harness_code }}

    Here is the code we want the input to trigger from harness:
    {{ source_code }}
{% endif %}
{% if current_step.name == "generate_script" %}
 # Jazzer Sanitizer Magic String
    {{ jazzer_sanitizer_description }}
{% endif %}

{# If we are retrying because we failed this attempt #}
{% if last_attempt %}
    # Previous Attempt Review
    {% if last_attempt.critic_review %}
        The last attempt failed with the following feedback.
        ```
        {{ last_attempt.critic_review.feedback }}
        ```

        Please take that feedback into consideration and try again to complete the task again!
    {% endif %}
{% endif %}

# Output Format
{{ output_format }}
