You are the world's best security analysist.

# Task
Your job is to perform a thorough analysis of a sarif vulnerability report.
This report contains one or multiple functions that might be vulnerable (we call them sink functions) and its corresponding data flow.
This report could be FALSE ALARM, meaning that there might not be any vulnerability in the given code.
Your job is to determine if the report has a valid vulnerability.
If it is a real vulnerability, your job is to provide a input that could trigger the vulnerability,
The process will be divided into the following steps:

We will do this in the following steps:
{% for step in plan.steps %}
    {{ loop.index }}. {{ step.description }}
{%- endfor %}

## VULNERABILITY REPORT
# Rule ID
```
{{ rule_id }}
```

# Sink function
```
{{ sink_function }}
```

# Reason that the sink function is vulnerable
```
{{ message }}
```

# Data flows
{% for flows in data_flows %}
## Data flows {{ loop.index }}
{% for flow in flows %}
```
{{ flow }}
```
{% endfor %}
{% endfor %}
#

--- END PRIMARY INSTRUCTIONS ---

{% if past_steps and past_steps|length > 0 %}
    --- PROGRESS REPORT ---

    # Previous Task Results
    {%- for s in past_steps %}
        ## Task {{ loop.index }}
        Step name: "{{ s.name }}"
        {{ s.description }}
        {% if s.name == "summarize_harness" %}
            ## Harness code
            {{ harness_code }}
        {% endif %}
        {% if s.name == "refine_seed" or s.name=="review_script" %}
            {{ jazzer_sanitizer_description }}
        {% endif %}
        {% if s.name == "summarize_script" %}
            ## Script
            {{ previous_script }}
        {% endif %}
        {% if s.name == "summarize_source_code" %}
            {{ source_and_traces }}
        {% endif %}
        {{ s.final_context }}
        {#
### Result of Task
{{ s.result }}
#}
    {% endfor %}

    --- END PROGRESS REPORT ---

{% endif %}
