__pycache__/
*.egg-info/
pipeline.lock
tmp/
program
program.debug
.coverage
./docker-compose.yaml
docker-compose.yaml
.github/bin/
ingested
targets
volumes/
.vscode/
.env
generate-challenge-task
uv.toml
.shellphish
env
.cursorrules
wiki
.dockerignore.bk
.idea/
**/*.DS_STORE
libs/**/build/
!aixcc-infra/aixcc-afc-competition-api/docker-compose.yaml
aixcc-infra/competition-server/scantron.yaml
!aixcc-infra/competition-server/scantron.yaml.template
local_run/.crs-api.pid
local_run/.crs-api.log
.challenge.json
permanence_service.log
