# To enable coverage collection
CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_DEBUG_FS=y

# To show code coverage in web interface
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y

# For detection of enabled syscalls and kernel bitness
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

# For better sandboxing
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUP_PIDS=y
CONFIG_MEMCG=y

# For namespace snadbox
CONFIG_USER_NS=y

# Debian images produced by tools/create-image.sh also require
CONFIG_CONFIGFS_FS=y
CONFIG_SECURITYFS=y

# For predictable kernel addresses
CONFIG_RANDOMIZE_BASE=n

# networking
CONFIG_VIRTIO_NET=y
CONFIG_E1000=y
CONFIG_E1000E=y

# For predictable network interface names
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="net.ifnames=0"

# For use-after-free and out-of-bounds detection
CONFIG_KASAN=y
CONFIG_KASAN_INLINE=y

# For correct stack traces
CONFIG_KASAN_STACK=y
CONFIG_DEBUG_STACK_USAGE=y
