
We are investigating a security problem in the project: {{PROJECT_NAME}}.
The project seems afflicted by a {{VULN_NAME}} security vulnerability.

This vulnerable function seems to be reachable from the harness located at {{HARNESS_PATH}}.

The code of such harness is:
```
{{HARNESS_CODE}}
```

Specifically, you are provided with the following initial information:

{{REPORT}}

These are the location in scope:

{{LOCS_IN_SCOPE}}

<--- OUTPUT FORMAT --->

{{output_format}}
