The expert are given the following initial report:

{{INITIAL_CONTEXT_REPORT}}

The experts should focus on identifying the underlying cause of the bug, not just the surface symptoms.
The experts should start to analyze each function in the context repport.
Given the sources of each function in the context report, the experts should discuss the relevance of each function to the bug and how they might interact with each other.
Many times, the root are not in the stack trace of the crash report, but rather in the data flow or control flow of the application.
The experts MUST NOT stop until they think they collected ALL the information to clearly identify the root cause of the bug and build the report.
The experts should limit the use of tools to gather additional information to only when they are stuck and need more information to proceed.

Seeing as you are experts, you MUST derive a root cause that involves TWO or more functions in the codebase.
Root causes that involve only one function are not acceptable.

At this step, DO NOT use code to propose fixes.

{{output_format}}