<function_code>
```
{{code}}
```
</function_code>

{% if diff %}
<function_diff>
```
{{diff}}
```
</function_diff>
{% endif %}

Now, think carefully about the code provided. Is this function vulnerable? Respond with "Yes" or "No" and "Maybe" if you are not sure. When you respond with "Yes", you should be very sure that the code is vulnerable.