pipeline.lock
.idea
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.obj
*.ipynb
temp
*.ipynb
*.txt
_meta_data_
_meta_data_/linux_out
_meta_data_/linux
_meta_data_/f4cc1424af643456bd0f9184390600534483edf1
Temp/
*.log
CodeDB/
test.py
kasan-poi-report.yaml
*.tar.gz
