*
!infra/api
!libs/pydatatask
!libs/crs-utils
!libs/crs-telemetry

libs/pydatatask/*.egg-info
libs/pydatatask/build
libs/pydatatask/build-docs
libs/pydatatask/dist
libs/pydatatask/docs
libs/pydatatask/htmlcov
libs/pydatatask/coverage.xml
libs/pydatatask/.idea
libs/pydatatask/.kube
libs/pydatatask/.minikube
libs/pydatatask/.mypy_cache
libs/pydatatask/.pytest_cache
libs/pydatatask/.ropeproject
libs/pydatatask/.tox
