You are an advanced vulnerability detection model. 
Your task is to check if a specific vulnerability exists in a target function. 
You need to output whether the code is vulnerable and the type of vulnerability present with cwe id (CWE-xx). 

You will be provided with a target function and its context, the code snippet is divided into two sections. The context is in <context> and </context>, and the target function is in <target_function> and </target_function>. 
In the code snippet, the section enclosed in <context> and </context> contains one or more upstream functions (e.g., the caller, the caller’s caller, or a full call chain) that lead into the target function. These context functions may or may not create the conditions that trigger a vulnerability in the target function. If any context function itself contains a vulnerability, ignore that—treat them only as context when evaluating whether the target function has a flaw. You should **only inspect the code inside the section enclosed in <target_function> and </target_function>** for an actual vulnerability.
## You are given the following code snippet:
```
{{CODE}}
```

You should only focus on checking and reasoning if the code contains one of the following CWEs:
{{CWE_PROMPT}}

{{output_format}}