Here is the information you need to complete this task:

1. The name of the target function:
<target_function_name>
{{target_function_name}}
</target_function_name>

2. The existing grammar in Nautilus Python Format:
<nautilus_grammar>
{{nautilus_grammar}}
</nautilus_grammar>

3. The source code of the target function:
<function_source>
{{function_source}}
</function_source>

4. The source code of the harness used to fuzz the program:
<harness_source>
{{harness_source}}
</harness_source>

Begin your analysis and grammar refinement process now.