/**
 * @id java/java_reaching_files
 * @kind problem
 * @name Finds filepaths involved with reaching a given set of target functions
 * @severity information
 */

import java

query predicate edges(Callable pred, Callable succ) {
  pred.polyCalls(succ)
  and succ.getName() != ""
}

predicate is_target_function(Callable c) {
{% for i, name in enumerate(target_functions) %}
  {% if i > 0 %}or {% endif %}c.getQualifiedName().matches("%.{{ name }}")
{% endfor %}
}

from Callable src
where
  exists(Callable dest |
    edges+(src, dest) and
    is_target_function(dest)
  )
select src.getQualifiedName()
