# User's Question

Improve the *STARTING GRAMMAR* to achieve coverage that results in a call of the *GOAL FUNCTION*.
## Information 

You are provided with:

- The *STARTING GRAMMAR* that is used to achieve the current coverage.
- The source code of the *GOAL FUNCTION* annotated with coverage information.
- The programs harness source code.

## The *STARTING GRAMMAR* grammar

```
{{ prev_grammar }}
```

## The name of the *GOAL FUNCTION* is:

```
{{ fun_name }}
```

## The source code of the *GOAL FUNCTION* annotated with coverage information.

```
{{ fun_coverage }}
```

## The source code of the harness

```
{{ harness_source }}
```

# Output format
{{ output_format }}