# User question: 

Please provide a report that explains how to cover the target function in the source code. Consider the following information: 


## The current grammar which reaches (SOURCE_NAME) but not (TARGET_NAME)
```
{{ current_grammar }}
```

## (SOURCE_NAME): The name of the function we have already hit

```
{{ function_to_improve }}
```

## (SOURCE) The source code of {{ function_to_improve }} with coverage information
```
{{ coverage }}
```

## (TARGET_NAME): The name of the function we are trying to reach

```
{{ function_to_improve_towards }}
```

## (TARGET) The source code of the function we are trying to reach
```
{{ function_to_improve_towards_source }}
```

# Output Format
{{ output_format }}