import java
import semmle.code.java.frameworks.javaee.ejb.EJBRestrictions

predicate is_target_function(Callable c) { 
    {% for i, full_name in enumerate(sink_methods) %}
     {% if i > 0 %}or {% endif %}c.getQualifiedName().matches("{{ full_name }}")
    {% endfor %}
    {% if sanitizer_name == "CommandInjection" %}
    or c instanceof RuntimeExecMethod
    {% endif %}
}

from Callable callee, Callable caller
where
  is_target_function(callee) and
  caller.polyCalls(callee) and
  caller.fromSource()
select
  caller.getQualifiedName() as sink_qualified_name,
  caller.getLocation() as sink_location