{
    "$schema": "https://json.schemastore.org/sarif-2.1.0",
    "version": "2.1.0",
    "runs": [
        {
            "tool": {
                "driver": {
                    "name": "Shellphish-Artiphishell",
                    "informationUri": "http://artiphishell.com/",
                    "version": "1.0.0",
                    "rules": [
                        {
                            "id": "{{RULE_ID}}",
                            "name": "{{RULE_NAME}}",
                            "fullDescription": {
                                "text": {{RULE_DESCRIPTION}}
                            },
                            "properties": {
                                "tags": [
                                    "security"
                                ],
                                "precision": "high"
                            }
                        }
                    ]
                }
            },
            "results": [
                {
                    "ruleId": "{{RULE_ID}}",
                    "level": "{{LEVEL}}",
                    "message": {
                        "text": {{RULE_DESCRIPTION}}
                    },
                    "locations": [
                        {
                            "physicalLocation": {
                                "artifactLocation": {
                                    "uri": "{{FLOW[FLOW|length - 1][0]}}"
                                }{% if FLOW[FLOW|length - 1][1] %},
                                "region": {
                                    "startLine": {{FLOW[FLOW|length - 1][1]}}
                                }{% endif %}
                            }
                        }
                    ],
                    "codeFlows": [
                        {
                            "threadFlows": [
                                {
                                    "locations": [
                                        {% for item in FLOW %}
                                        {
                                            "location": {
                                                "physicalLocation": {
                                                    "artifactLocation": {
                                                        "uri": "{{FLOW[loop.index0][0]}}"
                                                    }{% if FLOW[loop.index0][1] %},
                                                    "region": {
                                                        "startLine": {{FLOW[loop.index0][1]}}
                                                    }{% endif %}
                                                }
                                            }
                                        }{% if not loop.last %},{% endif %}{% endfor %}
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}